.DS_Store
Module_17/17-10-1-oversampling/.ipynb_checkpoints/oversampling-checkpoint.ipynb
Module_17/17-10-1-oversampling/oversampling.ipynb
Module_17/17-10-2-undersampling/Notebook/.ipynb_checkpoints/undersampling-checkpoint.ipynb
Module_17/17-10-2-undersampling/Notebook/undersampling.ipynb
Module_17/17-10-2-undersampling/Resources/cc_default.csv
Module_17/17-10-3-combination_sampling/Notebook/.ipynb_checkpoints/combination_sampling-checkpoint.ipynb
Module_17/17-10-3-combination_sampling/Notebook/combination_sampling.ipynb
Module_17/17-10-3-combination_sampling/Resources/cc_default.csv
Module_17/17-3-1-logistic_regression_demo/.ipynb_checkpoints/logistic_regression-checkpoint.ipynb
Module_17/17-3-1-logistic_regression_demo/logistic_regression.ipynb
Module_17/17-3-2-logistic_regression_dm/Notebook/.ipynb_checkpoints/diabetes-checkpoint.ipynb
Module_17/17-3-2-logistic_regression_dm/Notebook/diabetes.ipynb
Module_17/17-3-2-logistic_regression_dm/Resources/diabetes.csv
Module_17/17-4-2-precision__recall_f1/Notebook/.ipynb_checkpoints/diabetes-checkpoint.ipynb
Module_17/17-4-2-precision__recall_f1/Notebook/diabetes.ipynb
Module_17/17-4-2-precision__recall_f1/Resources/diabetes.csv
Module_17/17-5-2-svm/Notebook/.ipynb_checkpoints/svm_loan_approver-checkpoint.ipynb
Module_17/17-5-2-svm/Notebook/svm_loan_approver.ipynb
Module_17/17-5-2-svm/Resources/loans.csv
Module_17/17-6-1-label_encode/Notebook/.ipynb_checkpoints/categorical-data-checkpoint.ipynb
Module_17/17-6-1-label_encode/Notebook/categorical-data.ipynb
Module_17/17-6-1-label_encode/Resources/loans_data.csv
Module_17/17-6-1-label_encode/Resources/loans_data_encoded.csv
Module_17/17-6-4-scale/Notebook/.ipynb_checkpoints/categorical-data-checkpoint.ipynb
Module_17/17-6-4-scale/Notebook/categorical-data.ipynb
Module_17/17-6-4-scale/Resources/loans_data_encoded.csv
Module_17/17-7-2-decision_tree/Notebook/.ipynb_checkpoints/decision-trees-checkpoint.ipynb
Module_17/17-7-2-decision_tree/Notebook/.ipynb_checkpoints/decision-trees-random_forest-checkpoint.ipynb
Module_17/17-7-2-decision_tree/Notebook/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Module_17/17-7-2-decision_tree/Notebook/decision-trees-random_forest.ipynb
Module_17/17-7-2-decision_tree/Notebook/decision-trees.ipynb
Module_17/17-7-2-decision_tree/Notebook/decision-trees.pdf
Module_17/17-7-2-decision_tree/Resources/loans_data_encoded.csv
Module_17/17-9-3-gradient_boosted_tree/Notebook/.ipynb_checkpoints/gradient_boosted_tree-checkpoint.ipynb
Module_17/17-9-3-gradient_boosted_tree/Notebook/gradient_boosted_tree.ipynb
Module_17/17-9-3-gradient_boosted_tree/Resources/loans_data_encoded.csv
Module_17/linear_regression_salary/.ipynb_checkpoints/linear_regression-checkpoint.ipynb
Module_17/linear_regression_salary/linear_regression.ipynb
Module_17/linear_regression_salary/Resources/Salary_Data.csv
.ipynb_checkpoints/credit_risk_ensemble-checkpoint.ipynb
.ipynb_checkpoints/credit_risk_resampling-checkpoint.ipynb
Challenge/Module-17-Challenge-Resources/.ipynb_checkpoints/credit_risk_ensemble_starter_code-checkpoint.ipynb
Challenge/Module-17-Challenge-Resources/.ipynb_checkpoints/credit_risk_resampling_starter_code-checkpoint.ipynb
